{% extends "base.html" %}

{%- block content -%}

<style>
.container {min-height: 0;}


h1{
  font-size: 60px;
}

</style>

<div class="text-center">
<br>
<h1>1 000 000 cyber•Shares ever existed</h1>
<br>
<br>
<h2>Proof-of-Origin<br><small>Distributed through protocols:</small></h2>
  <br>
  <br>
  <div class="col-md-3">
    <img src="/images/colored_coins.png" class="img-circle" height="140px" width="140px">
    <br>
    <br>
    <h2 class="text-center"> Open Assets <h2>
    <br>
    <h2>73.18%<h2>
    <br>
    <h3>731 841 shares<h3>
    <br>
    <br>
    <h2> <a href="https://www.coinprism.info/asset/ARZFtqEzUp1zirGCcCRCRDyu7M5GDEhAFC" target="blank">Coinprism Explorer</a><h2>
  </div>
  <div class="col-md-3">
    <img src="/images/next.png" class="img-circle" height="140px" width="140px">
    <br>
    <br>
    <h2 class="text-center"> NXT <h2>
    <br>
    <h2>14.82%<h2>
    <br>
    <h3>148 158 shares<h3>
    <br>
    <br>
    <h2> <a href="https://nxtblocks.info/#section/txid/18349167062458849940" target="blank">NXT Blocks</a><h2>
  </div>
  <div class="col-md-3">
    <img src="/images/bitshares.png" class="img-circle" height="140px" width="140px">
    <br>
    <br>
    <h2 class="text-center"> BitShares <h2>
    <br>
    <h2>11%<h2>
    <br>
    <h3>110 000 shares<h3>
    <br>
    <br>
    <h2> <a href="http://bitsharesblocks.com/assets/asset?id=CSHARES" target="blank">BitShares Blocks</a><h2>
  </div>
  <div class="col-md-3">
    <img src="/images/counterparty.png" class="img-circle" height="140px" width="140px">
    <br>
    <br>
    <h2 class="text-center"> Counterparty <h2>
    <br>
    <h2>1%<h2>
    <br>
    <h3>10 000 shares<h3>
    <br>
    <br>
    <h2> <a href="https://www.blockscan.com/assetInfo/CYBERSHARES" target="blank">Blockscan</a><h2>
  </div>
<div class="clearfix visible-xs-block"></div>
<div class="text-center">
<br>
<br>
<br>
<h2>cyber•Shares Distribution</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<iframe width="882" height="477" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1rks92sn8Ft_GU41q7P6VSrUHUJ5NKllYnCn4jsAuYL8/pubchart?oid=603788010&amp;format=interactive"></iframe>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Endorsement</h2>
<br>
<br>
<table class="table table-hover">
  <tr>
    <th class="text-center">Timestamp</th>
    <th class="text-center">Operation</th>
    <th class="text-center">Decision</th>
    <th class="text-center">Amount</th>
    <th class="text-center">TX</th>
    <th class="text-center">Protocol</th>
  </tr>
  <tr>
    <td>5/17/2014<nobr> <nobr>15:03:42</td>
    <td class="text-left">Initially created</td>
    <td>-</td>
    <td class="text-right">1<nobr> <nobr>000<nobr> <nobr>000</td>
    <td class="text-left"><small><a href="https://www.coinprism.info/tx/cc8cd7d92c6bf43738dae94ce7eccde5ce11b2829aac7c09d38a095621b45d44" target="blank">cc8cd7d92c6bf43738dae94ce7eccde5ce11b2829aac7c09d38a095621b45d44</a></small></td>
    <td class="text-left">Open Assets</td>
  </tr>
  <tr>
    <td>11/24/2014<nobr> <nobr>17:32:18</td>
    <td class="text-left">Destroyed for NXT placement</td>
    <td>-</td>
    <td class="text-right">- 148<nobr> <nobr>158</td>
    <td class="text-left"><small><a href="https://www.coinprism.info/tx/7613ba51d775cbc5bf6cc13947d3b720d4dd62b2c4a3894d6dc7c4fe879c23ec" target="blank">7613ba51d775cbc5bf6cc13947d3b720d4dd62b2c4a3894d6dc7c4fe879c23ec</a></small></td>
    <td class="text-left">Open Assets</td>
  </tr>
    <tr>
    <td>11/24/2014<nobr> <nobr>18:32:11</td>
    <td class="text-left">NXT placement</td>
    <td><small><a href="http://cybertalks.org/t/cyber-shares-placement-on-nxt/178" target="blank">cyber•Talks<nobr> <nobr>thread</a></small></td>
    <td class="text-right">48<nobr> <nobr>158</td>
    <td class="text-left"><small><a href="https://nxtblocks.info/#section/txid/18349167062458849940" target="blank">18349167062458849940</a></small></td>
    <td class="text-left">NXT</td>
  </tr>
    <tr>
    <td>11/26/2014<nobr> <nobr>5:21:46</td>
    <td class="text-left">Counterparty placement</td>
    <td><small><a href="http://cybertalks.org/t/counterparty-cyber-shares-placement/187" target="blank">cyber•Talks<nobr> <nobr>thread</a></small></td>
    <td class="text-right">10<nobr> <nobr>000</td>
    <td class="text-left"><small><a href="http://www.blockscan.com/txInfo/10880596" target="blank">http://cybertalks.org/t/counterparty-cyber-shares-placement/187</a></small></td>
    <td class="text-left">Counterparty</td>
  </tr>
  <tr>
    <td>11/27/2014<nobr> <nobr>0:00:00</td>
    <td class="text-left">Open Assets divisibility</td>
    <td><small><a href="http://cybertalks.org/t/cyber-shares-in-open-assets-protocol/198?u=21xhipster" target="blank">cyber•Talks<nobr> <nobr>thread</a></small></td>
    <td class="text-right">0</td>
    <td class="text-left"><small><a href="https://docs.google.com/a/cyberfund.io/spreadsheets/d/1rks92sn8Ft_GU41q7P6VSrUHUJ5NKllYnCn4jsAuYL8/edit?pli=1#gid=1822891694" target="blank">TX Report</a></small></td>
    <td class="text-left">Open Assets</td>
  </tr>
  <tr>
    <td>11/27/2014<nobr> <nobr>20:19:36</td>
    <td class="text-left">Destroyed for Counterparty placement</td>
    <td><small><a href="http://cybertalks.org/t/counterparty-cyber-shares-placement/187" target="blank">cyber•Talks<nobr> <nobr>thread</a></small></td>
    <td class="text-right">- 10<nobr> <nobr>000</td>
    <td class="text-left"><small><a href="https://www.coinprism.info/tx/5cdd94726c972c4916a12ff17885c20273a5eaaa1db6e1f133dc577107a737b8" target="blank">5cdd94726c972c4916a12ff17885c20273a5eaaa1db6e1f133dc577107a737b8</a></small></td>
    <td class="text-left">Counterparty</td>
  </tr>
  <tr>
    <td>12/5/2014<nobr> <nobr>16:38:10</td>
    <td class="text-left">BitShares placement</td>
    <td><small><a href="http://cybertalks.org/t/cyber-shares-on-bitshares-dex/202" target="blank">cyber•Talks<nobr> <nobr>thread</a></small></td>
    <td class="text-right">110<nobr> <nobr>000</td>
    <td class="text-left"><small><a href="http://www.bitsharesblocks.com/blocks/block?id=1189479" target="blank">1189479</a></small></td>
    <td class="text-left">BitShares</td>
  </tr>
    <tr>
    <td>12/5/2014<nobr> <nobr>18:24:44</td>
    <td class="text-left">Destroyed for Bitshares placement</td>
    <td><small><a href="http://cybertalks.org/t/cyber-shares-on-bitshares-dex/202" target="blank">cyber•Talks<nobr> <nobr>thread</a></small></td>
    <td class="text-right">- 110<nobr> <nobr>000</td>
    <td class="text-left"><small><a href="https://www.coinprism.info/tx/e3c835075a94890218734bb5487aab9c1e0720c0cdcabc3744b2a570a874b6f8" target="blank">e3c835075a94890218734bb5487aab9c1e0720c0cdcabc3744b2a570a874b6f8</a></small></td>
    <td class="text-left">Open Assets</td>
  </tr>
    <tr>
    <td></td>
    <th>Total</th>
    <td></td>
    <th class="text-right">1<nobr> <nobr>000<nobr> <nobr>000</th>
    <td></td>
    <td></td>
  </tr>
</table>
  <br>
  <br>
  <br>
  <br>
<h2>Suggest your improvements</h2>
</div>
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'cyberfund'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{%- endblock -%}
