{% extends "base.html" %}

{%- block content -%}
<script src="js/jquery.countdown.js"></script>
<style>
.container {min-height: 0;}
a:hover {text-decoration: none;}

@media all and (max-width: 990px) {
  #innovations {
    height: 820px !important;
  }

  #community {
    height: 700px !important;
  }

  #social {
    height: 1050px !important;
  }
}
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
.avatar-frame{}
.avatar-frame,.avatar-frame img{
  width: 150px;
  height: 150px;
  -webkit-border-radius: 180px; /* Saf3+, Chrome */
  border-radius: 180px; /* Opera 10.5, IE 9 */
  }
.avatar-text {
  margin-left: 20px;
}

.human-name {
  margin: 0;
}

.human-title {
  margin: 0;
  margin-bottom: 5px;
}

.logo {
  width: 170px;
  height: 170px;
}

h1{
  font-size: 80px;
}

</style>

</div>

<div style="background-image: url('/images/people.jpg'); height: 900px; background-size: cover;">
  <br>
  <br>
  <h1 class="text-center" style="color:black;">
    cyber <span style="color:yellow">•</span> Shares
  </h1>
  <h2 class="text-center"> Industry of polymorphic decentralized applications  </h2>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 <h2 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
    40 000 shareholders and counting….
  </h2>
  <br>
  <br>
  <br>
  <br>
<div class="clearfix visible-xs-block"></div>
  <div class="text-center">
    <a href="#together" class="col-md-4; nounderline">
      <button type="button" class="btn btn-success btn-lg btn-block; col-md-offset-5 col-md-2"><h2>Why?</h2></button>
    </a>
  </div>
</div>

<div id="together" class="container">
  <br>
  <br>
  <br>
  <h1 class="text-center">Now we are together</h1>
  <br>
  <br>
  <br>
  <h3 class="text-center">cyber•Shares will be distributed to investors and developers of leading crypto projects
 <br>who understand industry the most <br><br> <a href="http://cybertalks.org/t/cyber-shares-distribution/159" target="_blank">How to redeem?</a> </h3>
  </div>
<br>
<br>
<br>
<div>
<div class="text-center container">
  <div class="col-md-2">
    <img class="logo" src="/images/colored_coins.png">
    <h3>Colored coins
    </h3>
  </div>
  <div class="col-md-2">
    <img class="logo" src="/images/maidsafe.png">
    <h3>MaidSafe
    </h3>
  </div>
  <div class="col-md-2">
    <img class="logo" src="/images/ethereum.png">
    <h3>Ethereum
    </h3>
  </div>
  <div class="col-md-2">
    <img class="logo" src="/images/next.png">
    <h3>NXT
    </h3>
  </div>
  <div class="col-md-2">
    <img class="logo" src="/images/bitshares.png">
    <h3>BitShares
    </h3>
  </div>
  <div class="col-md-2">
    <img class="logo" src="/images/bitcoin.png">
    <h3>Bitcoin
    </h3>
  </div>
  </div>
  <br>
  <br>
  <div class="text-center">
    <a href="#deliver" class="col-md-4; nounderline">
      <button type="button" class="btn btn-success btn-lg btn-block; col-md-offset-5 col-md-2"><h2>For what?</h2></button>
    </a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div id="deliver" style="background-color: #FFF176; height: 900px; background-size: cover;">
  <br>
  <br>
  <br>
<h1 class="text-center">Delivering cyber<span style="color:green; position:relative; top:3px;">•</span>Wallet</h1>
  <br>
  <br>
  <a href="/wallet"><img src="/images/wallet.png" class="centered img-responsive" style="height: 350px;"></a>
  <br>
  <br>
<h2 class="text-center">In the core of cyber•Shares social consensus</h2>
  <br>
<h3 class="text-center">should work with majority of assets and could be easily embedded into any existing or future web application</h3>
  <br>
  <div class="text-center">
    <a href="#4investors" class="col-md-4; nounderline">
      <button type="button" class="btn btn-success btn-lg btn-block; col-md-offset-5 col-md-2"><h2>Profit?</h2></button>
    </a>
  </div>
</div>
  <!-- start -->
  <div id="4investors" class="container">
  <br>
  <div class="text-center">
    <br>
    <br>
    <h1>Simplicity is the ultimate sophistication</h1>
    <br>
    <h2>cyber•Shares work. Protoshares holders get shares in all future DApps. Why?</h2>
    <br>
    <br>
    <br>
    <img src="/images/smart.png" class="centered img-responsive">
    <br>
    <br>
    <br>
    <br>
    <a href="http://compare.cybershares.net" target="_blank" class="col-md-4; nounderline">
    <button type="button" class="btn btn-warning btn-lg btn-block; col-md-offset-4 col-md-4"><h2>Protoshares comparison</h2></button>
    </a>
   </div>
</div>


  <!-- end -->
<br>
<br>
<br>
<br>
<br>
<br>
  <!-- start -->
<div style="background-color: #4CAF50; height: 900px; background-size: cover;">
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center">cyber<span style="color:yellow; position:relative; top:3px;">•</span>Shares for Investors</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
      <div class="col-md-4">
      <img src="/images/invest2.png" class="img-circle" height="140px" width="140px">
      <br>
      <br>
      <br>
      <br>
      <h2 class="text-center" style="color:white"> Invest in cyber•Shares community <h2>
      <h4> Buying cyber•Shares you directly invest to developers who need investments for cyber•Shares industry the most<h4>
      </div>
      <div class="col-md-4">
      <img src="/images/shares.png" class="img-circle" height="140px" width="140px">
      <br>
      <br>
      <br>
      <br>
      <h2 class="text-center" style="color:white"> Get revenue in form of groundbreaking shares<h2>
      <h4>Thousands of groundbreaking shares will be dropped to cyber•Shares holders<h4>
      </div>
      <div class="col-md-4">
      <img src="/images/build.png" class="img-circle" height="140px" width="140px">
      <br>
      <br>
      <br>
      <br>
        <h2 class="text-center" style="color:white">Build cyber•Shares distributed trust<h2>
        <h4>Build industry of polymorphic DApps with us!<br> <a href"http://cybertalks.org/t/how-to-become-distributed-trust-insude-cyber-shares-ecosystem/212">Acquire official status</a> inside cyber•Shares industry<h4>
      </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <br>
    <br>
    <br>
    <br>
    <div>
    <a href="#opportunities" class="nounderline">
    <button type="button" class="btn btn-default btn-lg btn-block; col-md-offset-4 col-md-4"><h2>Endless opportunities</h2></button>
    </a>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
  <!-- end  -->
  <!-- start Products -->
  <div id="opportunities" class="container">
  <br>
  <div class="row">
    <div class="text-center">
      <h1>Endless business possibilities</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2>Cybernetic economy report 2015 coming soon</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
      <br>
</div>
</div>
  <!-- end Products -->
  <br>
  <br>
  <br>
  <br>
  <!-- start -->
<div style="background-color: #2196F3; height: 900px; background-size: cover;">
  <br>
  <br>
  <br>
  <br>
<h1 class="text-center">cyber<span style="color:yellow; position:relative; top:3px;">•</span>Shares for Developers</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
      <div class="col-md-4">
      <img src="/images/create shares.png" class="img-circle" height="140px" width="140px">
      <br>
      <br>
      <br>
      <br>
      <h2 class="text-center" style="color:white"> Create shares of your DApp in seconds <h2>
      <h4>Easy and fast crosschain creation of digital assets. Verify ideas before writing code<h4>
      </div>
      <div class="col-md-4">
      <img src="/images/audience.png" class="img-circle" height="140px" width="140px">
      <br>
      <br>
      <br>
      <br>
      <h2 class="text-center" style="color:white"> Promote your app to best in breed audience<h2>
      <h4>Sharedrops are as cheap as ~0.2 btc for 40k people <br>(networks transaction fees only).<br>  You get engaged <s>audience</s> shareholders from day 0<h4>
      </div>
      <div class="col-md-4">
      <img src="/images/buildapps.png" class="img-circle" height="140px" width="140px">
      <br>
      <br>
      <br>
      <br>
        <h2 class="text-center" style="color:white">Build your DApp with cyber•Wallet<h2>
        <h4>If your sharedrop is successful, build your Dapp with cyber•Wallet faster than you can imagine<h4>
      </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <br>
    <br>
    <br>
    <br>
    <div>
    <a href="http://cybertalks.org/t/how-to-sharedrop-to-cyber-shares-holders/141" target="_blank" class="nounderline">
    <button type="button" class="btn btn-warning btn-lg btn-block; col-md-offset-5 col-md-2"><h2>Sharedrop now</h2></button>
    </a>
      </div>
    </div>
  </div>
</div>
  <!-- end  -->
  <!-- Dream idea -->
<div id="explore" class="container">
  <br>
  <br>
  <br>
<h1 class="text-center">Explore cyber<span style="color:yellow; position:relative; top:3px;">•</span>Shares</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="text-center">
    <div class="col-md-3">
      <a href="http://paper.cyber.fund" target="_blank" class="clear">
        <input type="button" value="Whitepaper" name="whitepaper" id="mc-embedded-whitepaper" class="button btn btn-default btn-lg btn-block">
      </a>
    </div>
    <div class="col-md-3">
      <a href="/explorer" class="clear">
        <input type="button" value="Explorer" name="explorer" id="mc-embedded-explorer" class="button btn btn-success btn-lg btn-block">
      </a>
    </div>
    <div class="col-md-3">
      <a href="/sharedrops" class="clear">
          <input type="button" value="Sharedrops" name="sharedrops" id="mc-embedded-sharedrops" class="button btn btn-danger btn-lg btn-block">
      </a>
    </div>
    <div class="col-md-3">
      <a href="http://blog.cyber.fund" target="_blank" class="clear">
          <input type="button" value="cyber•Blog" name="blog" id="mc-embedded-blog" class="button btn btn-warning btn-lg btn-block">
      </a>
    </div>
  </div>
    <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
<div style="background-image: url('/images/social.jpg'); height: 900px; background-size: cover;">
  <br>
  <br>
  <br>
  <br>
  <br>
    <h1 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
      One place where passionate professionals meet
    </h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a href="http://cybertalks.org"><img src="/images/cybertalks.png" height="300px" width="300px" class="centered"></a>
  </div>
  <!-- End: Dream idea -->
<div id="getcybershares" class="container">
  <br>
  <br>
  <br>
<h1 class="text-center">Get cyber<span style="color:yellow; position:relative; top:3px;">•</span>Shares now</h1>
  <br>
  <br>
  <br>
  <div class="text-center">
    <div class="col-md-4">
      <h2 class="text-center"> Buy <h2>
    <h2> <a href="http://masterxchange.com">Masterxchange</a><h2>
    <h2> <a href="counterwallet.co">Counterwallet</a><h2>
    <h2> <a href="https://trade.secureae.com/#18349167062458849940">NXT</a><h2>
    <h2> <a href="http://bitshares.org">Bitshares</a><h2>
    <br>
    <h2> <a href="http://cybertalks.org/t/how-to-buy-cyber-shares/242">How to buy?</a><h2>
    </div>
    <div class="col-md-4">
      <h2 class="text-center"> Earn <h2>
      <h2> <a href="https://www.bountysource.com/">Bountysource</a><h2>
      <h2> <a href="http://cybertalks.org/t/bounties-in-cyber-shares-industry/139">Incentives</a><h2>
      <br>
      <h2> <a href="http://cybertalks.org/t/bounties-in-cyber-shares-industry/139">How to earn?</a><h2>
    </div>
    <div class="col-md-4">
      <h2 class="text-center"> Use <h2>
      <h2> <a href="http://coinprism.com">Coinprism</a><h2>
      <h2> <a href="http://counterwallet.co">Counterwallet</a><h2>
      <h2> <a href="http://nxt.org">NXT</a><h2>
      <h2> <a href="http://bitshares.org">Bitshares</a><h2>
      <br>
      <h2> <a href="http://cybertalks.org/t/i-am-cyber-shares-holder-what-i-should-do/243">How to use?</a><h2>
    </div>
  </div>
    <br>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<div id="social" style="background-image: url('/images/design.jpg'); height: 500px; background-size: cover;">
  <br>
  <br>
  <br>
<h1 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">Follow us</h1>
  <br>
  <br>
  <br>
    <div class="text-center">
    <div class="col-md-offset-1 col-md-2" style="margin-top:10px">
      <a href="https://www.facebook.com/cyberfund" style="underline:none;">
        <img src="/images/facebook.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For people
        </h4>
      </a>
    </div>
    <div class="col-md-2" style="margin-top:10px">
      <a href="https://twitter.com/cyberfundio" style="underline:none;">
        <img src="/images/twitter.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For professionals
        </h4>
      </a>
    </div>
    <div class="col-md-2" style="margin-top:10px">
      <a href="https://angel.co/cyber-fund" style="underline:none;">
        <img src="/images/angellist.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For investors
        </h4>
      </a>
    </div>
    <div class="col-md-2" style="margin-top:10px">
      <a href="https://plus.google.com/+CyberfundIo" style="underline:none;">
        <img src="/images/gplus.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For entrepreneurs
        </h4>
      </a>
    </div>
    <div class="col-md-2" style="margin-top:10px">
      <a href="https://github.com/cyberFund" style="underline:none;">
        <img src="/images/github.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For developers
        </h4>
      </a>
    </div>
  </div>
</div>
<div class="text-center-container">
<br>
<br>
<h1 class="text-center">Ready to disrupt?</h1>
<br>
<br>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="form-inline col-md-offset-4 col-md-4">
  <form
    action="//fund.us9.list-manage.com/subscribe/post?u=f49824401068400521a7f2e46&amp;id=2ea9afede7"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  >
  <div id="mc_embed_signup_scroll" class="form-inline">
    <div class="mc-field-group input-group-lg">
      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_f49824401068400521a7f2e46_2ea9afede7" tabindex="-1" value="">
    </div>
    <br>
    <br>
    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success btn-lg btn-block">
    </div>
  </div>
  <br>
  <br>
  <br>
  <h4 class="text-center">We're never spam you<h4>
  <br>
  <br>
  <br>
  </form>
  <div class="text-center">
  <br>
  <br>
  <br>
  <p>created by <a href="http://cyber.fund">cyber<span style="color:red">•</span>Fund</a> team</p>
  <br>
  <br>
  <br>
</div>
</div>

{%- endblock -%}

{%- block js -%}

<script>

function tokenizer(s) {
  return s.split(/,?\s+/);
}

$(document).ready(function() {
  var addrs = ['1EzwoHtiXB4iFwedPr49iywjZn2nnekhoj',
               '3MrGWx7ZPBt7UgttQ6yWvnEYgy1qTeB8J1',
               '3FoLttdpV3UwU24z45hJu7vQe6kz9N2sQd',
               '37xZcHcNsCtfCbqgzuuQzUftdE19M1XdD4',
               '3AcnnYGnucHPWrRLj9h4DzydBivvgq1KU1']
  for (var i = 0; i < addrs.length; i++) {
    $.get('https://blockchain.info/q/addressbalance/' + addrs[i] + '?confirmations=1', function(data) {$('#invested-amount').html(parseFloat($('#invested-amount').html()) + parseInt(data) * 0.00000001);})
  }
});

</script>

{%- endblock -%}
