{% extends "base.html" %}

{%- block content -%}

<style>
.container {min-height: 0;}


h1{
  font-size: 60px;
}

</style>

<div class="text-center">
<h1>Upcoming sharedrops</h1>
<br>
<table class="table table-hover">
  <tr>
    <th class="text-center">Asset</th>
    <th class="text-center">Elevator Pitch</th>
    <th class="text-center">Volume</th>
    <th class="text-center">When</th>
    <th class="text-center">Team</th>
    <th class="text-center">Details</th>
  </tr>
  <tr>
    <td class="text-left"><a href="https://www.coinprism.info/asset/AexRXvf7Gw5ZBaAHWR27RqAeuANmL1pGqC">cyber<span style="color:yellow; position:relative;"> • </span>Talks</a></td>
    <td class="text-left">Community of crypto profs</td>
    <td>10%</td>
    <td class="text-center">January 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org">cybertalks.org</a></td>
  </tr>
  <tr>
    <td class="text-left"><a href="https://www.coinprism.info/asset/ATqTR8pQ9vsaewvtCwGukq74RdPxjtGoz8">cyber<span style="color:green; position:relative;"> • </span>Wallet</a></td>
    <td class="text-left">Extendable crosschain web wallet</td>
    <td>50%</td>
    <td class="text-center">February 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybershares.net/wallet">cybershares.net/wallet</a></td>
  </tr>
  <tr>
    <td class="text-left"><a href="https://www.coinprism.info/asset/AbhBFwWFpZzFMsBakZbDzUTYv67t9rThaK">cyber<span style="color:red; position:relative;"> • </span>Fund</a></td>
    <td class="text-left">First distributed investment and development fund</td>
    <td>1%</td>
    <td class="text-center">March 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cyber.fund">cyber.fund</a></td>
  </tr>
  <tr>
    <td class="text-left"><a href="https://www.coinprism.info/asset/ATpcEPBBCbK46DrHPm9H9QnzkKDXkczSXf">cyber<span style="color:blue; position:relative;"> • </span>Paper</a></td>
    <td class="text-left">Cyber entreupreneurs bible</td>
    <td>30%</td>
    <td class="text-center">April 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://paper.cyber.fund">paper.cyber.fund</a></td>
  </tr>
  <tr>
    <td class="text-left"><a href="https://www.coinprism.info/asset/ANQCiUSHfcmrWM4x2Xh3PsyBtVqdumkuE9">cyber<span style="color:purple; position:relative;"> • </span>Pie</a></td>
    <td class="text-left">Intelligent trustless investment portfolio</td>
    <td>10%</td>
    <td class="text-center">June 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cyber.fund/pie">cyber.fund/pie</a></td>
  </tr>
  <tr>
    <td class="text-left">play<span style="color:#C62828; position:relative;"> • </span>Fund</td>
    <td class="text-left">Games & entertainment</td>
    <td>10%</td>
    <td class="text-center">July 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">robotics<span style="color:#AD1457; position:relative;"> • </span>Fund</td>
    <td class="text-left">Consumer and production robotics</td>
    <td>10%</td>
    <td class="text-center">August 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">indigo<span style="color:#283593; position:relative;"> • </span>Fund</td>
    <td class="text-left">Opportunities for indigo kids</td>
    <td>10%</td>
    <td class="text-center">4Q 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">quantum<span style="color:#6A1B9A; position:relative;"> • </span>Fund</td>
    <td class="text-left">Computing electronics</td>
    <td>10%</td>
    <td class="text-center">4Q 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">circle<span style="color:#4527A0; position:relative;"> • </span>Fund</td>
    <td class="text-left">Consumer finance and telecom</td>
    <td>10%</td>
    <td class="text-center">4Q 2015</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">dark<span style="color:#1565C0; position:relative;"> • </span>Fund</td>
    <td class="text-left">Privacy and anonymity</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">brain<span style="color:#0277BD; position:relative;"> • </span>Fund</td>
    <td class="text-left">Artificial intelligence</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">satoshi<span style="color:#00838F; position:relative;"> • </span>Fund</td>
    <td class="text-left">Bitcoin infrustructure</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">spaceX<span style="color:#00695C; position:relative;"> • </span>Fund</td>
    <td class="text-left">Space exploration</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">nation<span style="color:#2E7D32; position:relative;"> • </span>Fund</td>
    <td class="text-left">Next generation governance</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">3dprint<span style="color:#558B2F; position:relative;"> • </span>Fund</td>
    <td class="text-left">Inorganic printing</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">neuro<span style="color:#9E9D24; position:relative;"> • </span>Fund</td>
    <td class="text-left">Computer-brain interfaces</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">tesla<span style="color:#F9A825; position:relative;"> • </span>Fund</td>
    <td class="text-left">Energy</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">transport<span style="color:#FF8F00; position:relative;"> • </span>Fund</td>
    <td class="text-left">Transportation systems</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">chain<span style="color:#EF6C00; position:relative;"> • </span>Fund</td>
    <td class="text-left">Data Science and blockchains</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
  </tr>
  <tr>
    <td class="text-left">color<span style="color:#D84315; position:relative;"> • </span>Fund</td>
    <td class="text-left">Formal agreements</td>
    <td>10%</td>
    <td class="text-center">2016</td>
    <td class="text-center"><a href="http://cyber.Fund">cyber<span style="color:red; position:relative;"> • </span>Fund</td>
    <td class="text-left"><a href="http://cybertalks.org/t/cyber-fund-distributed-trusts/171/2">cyber•Talks discussion</a></td>
</table>
<br>
<br>
<br>
<div class="container">
  <div class="col-md-6">
    <h2>Want to boost your project?</h2>
    <br>
    <br>
    <br>
    <a href="http://cybertalks.org/t/how-to-sharedrop-to-cyber-shares-holders/141" class="nounderline">
      <button type="button" class="btn btn-success btn-lg btn-block;">Learn how</button>
    </a>
    <br>
    <br>
    <br>
  </div>
  <div class="col-md-6">
    <h2>Want to get sharedrop?</h2>
    <br>
    <br>
    <br>
    <a href="/#getcybershares" class="nounderline">
      <button type="button" class="btn btn-success btn-lg btn-block;">Buy cyber•Shares now</button>
    </a>
    <br>
    <br>
    <br>
  </div>

</div>
  <br>
  <br>
  <br>
  <br>
<h2>Suggest your improvements</h2>
</div>
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'cyberfund'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{%- endblock -%}
